# This file lists the external Python packages your project needs.
# We are adding 'pytest' here, which is a popular library for testing.
# We are also adding 'pytest-cov' to measure our test coverage.
pytest
pytest-cov
